.comment-form {
    margin-bottom: 1.5rem;
    height: 40px;
    display: none;
}
.comment-input {
    width: 96%;
    border: 1px solid #333D3D;
    height: 100%;
    padding: 10px 40px;
    border-radius: 15px;
    font-size: 15px;
}
.comment-btn {
    width: 3.2%;
    height: 100%;
    border: 1px solid #333D3D;
    background-color: #333D3D;
    border-radius: 15px;
    padding: px;
    font-size: 0.8rem;
}
.comment-btn > i {
    color: white !important;
}
.comments {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.videos-imgs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}