@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: #333D3D;
}

a {
    text-decoration: none;
    color: #333D3D;
}
a:hover {
    color: #333D3D !important;
    text-decoration: none !important;
}
.header-1 a:hover {    
    color: white !important;
}
.header-2 a:hover {    
    color: #333D3D !important;
}

.fa-solid {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

p {
    margin-bottom: 0;
}
i {
    width: 100%;
    height: 100%;
}
.wrapper {
    overflow: hidden;
    position: relative;
}
body::-webkit-scrollbar {
    display: none; 
}
.container-14 {
    width: 1450px;
    margin: 0 auto;
}
.container-12{
    width: 1280px !important;
    margin: 0 auto;
}

/* 헤더 */
header {
    z-index: 10;
    width: 100%;
    height: 130px;
    position: absolute;
    top: 0;
}
header button {
    border: none;
    background: none;
}
.header-wrap {
    height: 100%;
}
.menuBox li{
    margin-right: 50px;
}
.header-1 .menuBox a ,.header-1 .sign a, .header-1 i, .header-1 button{
    color: white;
}
.header-2 .menuBox a ,.header-2 .sign a, .header-2 i, .header-2 button{
    color: #333D3D;
}
.sign > div >div {
    margin-left: 50px;
}
.search-btn {
    cursor: pointer;
}
.search-text {
    display: none;
}
.search-text div {
    background-color: rgba(255, 255, 255, .3);
    padding:3px 10px;
    border-radius: 20px;
    width: 230px;
}
.header-2 .search-text div {
    background-color: rgba(0, 0, 0, 0.3);    
}
.search {
    background: none !important;
    cursor: pointer;
}
.search-text input {
    width: 180px;
    border: none;
    background: none;
    font-size:0.9rem;
    padding-left: 15px;
}
.search-text input:focus{
    outline: none;
}
/* 비주얼 */
#visual {
    height: 100vh;
    width: 100vw;
}
.visual-wrap {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    left: 0;
    top: 0;
    overflow: hidden;
}
.slide > div {
    width: 100%;
    height: 100%;
}
.slide  img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto;
    transform: translate(-50%, -50%);
    filter: brightness(80%);
    z-index: -10;
}
.visual-wrap > .position-absolute {
    z-index: 10;
}
.visual-content {
    top: 50%;
    transform: translate(0, -50%);
    left: 17%;
}
.visual-title {
    color: white;
    font-family: serif;
    font-size: 6rem;
    line-height: 1em;
    margin-bottom: 80px;
    position: relative;
}
.visual-text {
    color: white;
    letter-spacing: 13px;
}
.line-bottom {
    position: absolute;
    bottom: 3%;
    right: 23%;
    border-bottom: 2px solid white;
    width: 50px;
    height: 1px;
    display: flex;
    align-items: flex-end;
}
.visual-mouse {
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 0);
}
.mouse {
    width:30px ;
    height: 45px;
    border: 1px solid white;
    border-radius: 30px;    
    position: relative;
}
.mouse-wheel {
    border-left: 1px solid white;
    height: 8px;
    position: absolute;
    top: 20%;
    width: 1px;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 10px;
    animation: cursor 1.3s linear infinite;
}
.visual-mouse > .position-relative {
    width: 100%;
    height: 100%;
}
.arrow-down {
    width: 12px;
    height: 12px;
    border: 1px solid white;
    border-top: 0;
    border-right:0 ;
    transform: rotate(-45deg) translate(-50%,0);
    transform-origin: 25% 25%;
}
.mouse-move {
    position: absolute;
    left: 38%;
    top: 0;
    animation: arrows 1.3s infinite;

}
.visual-scroll {
    transform: translate(0, -50%);
    top: 50%;
    right:12.7% ;
    height: 40%;
    font-family: serif;
}
.visual-scroll > p {
    color: white;

}
.visual-scroll  .progress-bar {
    height: 1px;
    width: 80%;
}
.visual-scroll > .progress {
    margin: 0 auto;
    height: 80%;
    width: 1px;
}
@keyframes cursor {
    0% {
        opacity: 0;
        transform: translateY(-0.4rem);
    }
    100% {
        opacity: 1;        
        transform: translateY(0.2rem);
    }
}
@keyframes arrows {
    0% {
        opacity: 0;
        transform: translate(10%, -0.3em);
    }
    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translate(10%, 0.3em);
    }
}
/* 글씨 */
.text-wrap {
    height: 120vh;
    margin-bottom: 150px;
    margin-top: 50px;
}

.text-wrap>* {
    position: absolute;
    font-size: 16rem;
    font-family: serif;

}

.text-img {
    overflow: hidden;
}

.text-img1 {
    height: 500px;
    width: 650px;
    left: 10%;
    top: 60%;
    z-index: -10;
}

.text-img2 {
    height: 600px;
    width: 600px;
    right: 10%;
    top: 26%;
    z-index: 2;
}

.text-img>img {
    height: auto;
    width: 100%;
}

.m-text {
    top: 2%;
    right: 5%;
    z-index: 5;
}

.f-text {
    left: 5%;
    top: 28%;
    z-index: -1;
}

.p-text {
    right: 10%;
    top: 58%;
    z-index: 1;
}

/* 계기 */
.reason-wrap {
    height: 100vh;
}

.reason-img {
    overflow: hidden;
    height: 100%;
    width: 100%;
    z-index: -10;
}

.reason-img>img {
    width: 100%;
    height: auto;
}

.reason-content {
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(0, -50%);
    z-index: 10;
}

.reason-content>p {
    color: white !important;
    text-align: left;
}

.reason-title {
    font-size: 8rem;
    font-family: serif;
    margin-bottom: 30px;
}

.reason-text {
    padding-left: 30px;
    font-size: 20px;
    margin-bottom: 30px;
}

.reason-back {
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 0, 0, .7);
    height: 100%;
    width: 35%;
}

/* 시작하기 */
.start-wrap {
    height: 100vh;
    color: #fff !important;
    background-image: url(../resources/imgs/forest9.jpg);
    background-size: cover;
    background-position: 50% 0;
    width: 100%;
}
.start-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 350px;
}
.start-title {
    color: white;
    font-family: serif;
    font-size: 4rem;
    line-height: 80px;
    margin-top: 30px;
}
.start-wrap i {
    font-size: 1.5rem;
    color: white;
    margin:  0 auto;
    padding-top: 20px;
    display: block;
}
.start-btn {
    display: block;
    color: white;
    padding: 13px 20px;
    border: 1px solid white;
    width: 150px;
    height: 50px;
    border-radius: 40px;
    margin: 0 auto;
    margin-top: 50px;
    transition: .5s;
}
.start-btn:hover {
    border: 1px solid black;
    color: white!important;
    background-color: rgba(0, 0, 0, 0.6);
}

/* 명언 */
#famous {
    height: 500px;
    position: relative;
    overflow: hidden;
}
.famous-wrap {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: serif;
}
.famous-text {
    font-size: 3.5rem;
    line-height: 1.2em;
}
.famous-name {
    color: #094645;
    font-size: 1.8rem;
}
.famous-wrap img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto;
    transform: translate(-50%, -50%);
    filter: blur(2px) opacity(40%);
    z-index: -10;
}

/* 푸터  */
footer {
    height: 400px;
    background-color: #333D3D;
}
.footer-wrap {
    position: relative;
    height: 100%;
}
.footer-wrap > .row {
    width: 100%;
    height: 100%;
}
.footer-wrap p,.foo-box i{
    color: white;
    font-size: 15px;
}
.foo-box i {
    flex-basis: 2%;
}
.company p{
    margin-bottom: 10px;
}
.contact > .foo-box > *  {   
    margin-bottom: 10px;
}
.foo-title {
    font-size: 2rem !important;
    font-weight: bold;
    font-family: serif;
}
.company {
    width: 35%;
    margin-bottom: 60px;
}
.contact {
    width: 65%;
    margin-bottom: 60px;
}
.foo-logo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.foo-sns {
    margin-left: auto;
    margin-bottom: 60px;
}
.foo-sns > i {
    color: white;
    font-size: 1.5rem;
    margin-left: 30px;
}
.foo-img > a, .foo-img > p{
    font-size: 0.8em !important;
    color: #539998 !important;
    display: block;
}
.foo-copy {
    position: absolute;
    bottom: 20%;
    left: 0;
}
.foo-copy > div > div> *  {
    margin-left: 15px;
}
.foo-copy > div > div> a:last-child  {
    margin-right: 30px;
}
/* 인트로 */
#intro {
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    left: 50%;
    display: block;
    height: 100vh;
    width: 100vw;
    background-color: white;
    transform: translate(-50%, -50%);
}
.intro-wrap {
    width: 100%;
    height: 100%;
}
.intro-wrap > .position-absolute {
    transform: translate(-50%, -50%);
    top: 46%;
    left: 50%;
}
.headphone {
    width: 200px;
}
.sound {
    width: 50px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.intro-wrap p {
    font-weight: bold;
    margin-top: 30px;
    font-size: 1.2rem;
}

/* 멤버 창 */

#member {
    height: 100vh;
    width: 100vw;
}
.member-wrap {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.member-wrap > img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto;
    transform: translate(-50%, -50%);
    filter: brightness(80%);
    z-index: -10;
}
.member-wrap > .position-absolute {
    z-index: 10;
}
.member-box {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid rgba(255, 255, 255, .3);
    padding: 20px;
}
.member-content {
    background-color: rgba(255, 255, 255, .3);
    width: 550px;
    height: 450px;
    position: relative;
}
.member-content > .position-absolute {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.member-title {
    color: white !important;
    font-weight: bold;
    font-size:4rem;
    margin-bottom: 30px;
    white-space: pre;
}
.member-content input[type="text"], .member-content input[type="password"] {
    background-color: rgba(255, 255, 255, .8);
    border: none;
    border-radius: 30px;
    width: 280px;
    margin-bottom: 15px;
    height: 28px;
    padding-left: 18px;
}
.member-content input[type="text"]:focus, .member-content input[type="password"]:focus , input:focus , .upload-textarea:focus{
    outline: 1px solid #333D3D;
}
.member-content input::placeholder {
    font-size: 12px;
    color:  #333D3D;
}
.member-content input[type="submit"], .member-content input[type="button"]  {
    border: none;
    font-size: 14px;
    color: white;
    border-radius: 30px;
    background-color:  #333D3D;
    width: 280px;
    margin-top: 40px;
    height: 28px;
    margin-bottom: 15px;
}
.register-wrap .member-content, .pwd-wrap .member-content, .mypage-wrap .member-content {
    width: 550px;
    height: 500px;
}
.mypage-wrap a{
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    display: block;
    width: 230px;
    margin: 0 auto;
    margin-bottom: 15px;
    transition: .5s;
}
.mypage-wrap a:hover{
    border: 1px solid black;
    color: white!important;
    background-color: rgba(0, 0, 0, 0.6);
}

/* 메인 */
#main {
    height: 100vh;
    margin-bottom: 250px;
}
.main-wrap {
    height: 100%;
    width: 100%;
}
.main-content {
    transform: translate(-50% ,-50%);
    left: 50%;
    top: 50%;
    width: 700px;
    height: 700px;
    text-align: center;
}
.main-box {
    position: absolute;
    transform: translate(-50% ,-50%);
    left: 50%;
    top: 50%;
    width: 800px;
}
.main-text {
    font-size: 3.5rem;
    width: 100%;
}
.main-tt {
    font-size: 2rem;
    margin-bottom: 0;
}
.main-time {
    font-size: 7rem;
    font-weight: bold;
    line-height: 100px;    
}

.main-circle {
    transform: translate(-50% ,-50%);
    left: 50%;
    top: 50%;
    z-index: -10;
    border-radius: 100%;
    border: 1px solid #65b8b8;
    position: absolute;
}
.circle-1 {
    width: 600px;
    height: 600px;
    opacity: 0.3 ;
}
.circle-2 {
    width: 720px;
    height: 720px;
    opacity: 0.7;
}
.circle-3 {
    width: 900px;
    height: 900px;
    opacity: 0.3;
}
.circle-4 {
    width: 950px;
    height: 950px;
    opacity: 0.1;
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(55px);
}

.event-text {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, 0);
    color: #65b8b8;
    cursor: pointer;
}

/* 라인 */
.line {
    margin-bottom: 150px;
}
.circle {
    width: 10px;
    height: 10px;
    border: 1px solid #72CECC;
    border-radius: 100%;
}
.path {
    border-bottom: 1px solid #72CECC;
    width: 300px;
}

/* 추천 동영상 */
#recommend {
    height: 300px;
    margin-bottom: 150px;
}
.recommend-title , .videos-title{
    font-size: 2rem;
    font-weight: bold;
}
.view-more {
    width: 30px; 
    height: 30px;
    border: 1px solid #333D3D;
    position: relative;
    
}
.view-more > span:nth-child(1) {
    height: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    border-left: 1px solid #333D3D;
    transform: translate(-50%, -50%);
}
.view-more > span:nth-child(2) {
    transform: translate(-50%, -50%);
    left: 50%;
    width: 50%;
    position: absolute;
    top: 50%;
    border-bottom: 1px solid #333D3D;
}
.recommend-img, .videos-img {
    background-color: black;
    border-radius: 10px;
    height: 100%;
    display: block;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.recommend-imgs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items:center;
}
.recommend-a, .videos-a {
    height: 180px;
    display: block;
    width: 93%;
}
.videos-a {
    margin-bottom: 70px;
}
.recommend-img > img , .videos-img > img {
    position: absolute;
    top: 50%;
    left: 50%;
    width:auto;
    height: 100%;
    transform: translate(-50%, -50%);
}
.recommend-a > div, .videos-a > div {
    margin-top: 10px;
    padding: 0 15px;
} 
.img-title {
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: pre;
    width: 170px;
    overflow: hidden;
}
.img-date {
    color: #72CECC;
    margin-bottom: 10px;
    font-size: 0.9rem;
    width: 30%;
}

/* 댓글 */
#comment {
    margin-bottom: 200px;
}
.comment-wrap {
    min-height: 400px;
}
.comment-title {
    font-size: 2rem;
    font-weight: bold;
}
.comment-write, .videos-write {
    display: block;
    width: 100px;
    height: 35px;
    border: 1px solid #333D3D;
    color: #333D3D;
    font-size: 0.7rem;
    padding: 14px;
    cursor: pointer;
}
.videos-write {    
    width: 110px;
}
.comment-box {
    border: 1px solid #97B9B9;
    margin-bottom: 20px;
    width: 97%;
    border-radius: 20px;
    padding: 30px;
}
.comment-name {
    font-weight: bold;
    margin-bottom: 10px;
}
.comment-date {
    margin-bottom: 10px;
    color: #72CECC;
    font-size: 0.9rem;
}
.comment-text {
    margin: 0;
    font-size: 14px;
}
.comment-bundle {
    margin-bottom: 1.5rem !important;
}

.comments {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items:center;
}

.comment-form {
    margin-bottom: 1.5rem;
    height: 40px;
    display: none;
}
.comment-form > form {
    padding: 0 10px;
}
.comment-input {
    width: 96%;
    border: 1px solid #333D3D;
    height: 100%;
    padding: 10px 40px;
    border-radius: 15px;
    font-size: 15px;
}
.comment-btn {
    width: 3.2%;
    height: 100%;
    border: 1px solid #333D3D;
    background-color: #333D3D;
    border-radius: 15px;
    padding: 12px;
    font-size: 0.8rem;
}
.comment-btn > i {
    color: white !important;
}
.comment-no {
    padding-top:150px;
    color: #97B9B9;
}

/* 비디오 페이지 */
#video {
    height: 100vh;
}
.video-wrap {
    height: 100%;
    width: 100%;
}
.video-play {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.video-title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 8px;
}
.video-content {
    padding: 20px 35px;
}
.video-person {
    width: 190px;
}
.video-name {
    margin-bottom: 10px;
    white-space: pre;
    text-align: right;
    width: 96px;

}
.video-date {
    color: #72CECC;
    margin-bottom: 10px;
    font-size: 0.9rem;
    white-space: pre;
}
.video-box {
    position: relative;
    background-color: black;
    width: 100%;
    height: 650px;
    border-radius: 10px;
    margin-top: 120px;
    overflow: hidden;
}

/* 동영상 모음 페이지*/
#videos {
    margin-top: 150px;
    margin-bottom: 200px;
}
.videos-imgs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
}

/* 업로드 */

.upload-wrap {
    height: 100vh;
    padding-top: 200px;
}

.upload-title {
    font-size: 2rem;
    font-weight: bold;
}
.upload-box{
    width: 50%;
}
.upload-submit {
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    padding: 8px 25px;
    background: none;
    border: 1px solid #333D3D;
    font-size: 0.9rem;
    height: 42px;
}
.upload-text {
    margin-top: 20px;
    width: 100%;
    padding: 10px 40px;
    border: 1px solid #333D3D;
    border-radius: 10px;
}
.upload-textarea {
    border-radius: 10px;        
    padding: 20px 40px;
}
.custom-file {
    display: flex;
    align-items: center;
    justify-content: center;
}
.custom-file .upload-name {
    display: inline-block;
    height: 40px;
    padding: 0 10px;
    vertical-align: middle;
    border: 1px solid #dddddd;
    width: 78%;
    color: #999999;
}
.custom-file label {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    vertical-align: middle;
    background-color: #999999;
    cursor: pointer;
    height: 40px;
    margin: 0;
}

.custom-file input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}

/* 마우스 이펙트 */
div.clickEffect {
    position: fixed;
    box-sizing: border-box;
    border-style: solid;
    border-color: #828282;
    border-radius: 50%;
    animation: clickEffect 0.8s ease-out;
    z-index: 5;
}

@keyframes clickEffect {
    0% {
        opacity: 1;
        width: 0.5em;
        height: 0.5em;
        margin: -0.25em;
        border-width: 0.3rem;
    }

    100% {
        opacity: 0.1;
        width: 15em;
        height: 15em;
        margin: -7.5em;
        border-width: 0.01rem;
    }
}